<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Home</title>

    <link rel="stylesheet" href="~/vendor.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
        <div class="container collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-item nav-link mr-4" asp-page="/Index">Home</a>
                <a class="nav-item nav-link mr-4" asp-page="/DotnetPublish">Publish command</a>
                <a class="nav-item nav-link mr-4" asp-page="/Manifest">Manifest.yml</a>
            </div>
        </div>
    </nav>

    <div class="container body-content mt-4">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
    <script src="~/vendor.min.js"></script>
</body>
</html>
